In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("E:\ML\Statewise.csv", nrows =10, parse_dates = ['Date'])
df

        Date                        State  TotalSamples  Negative  Positive
0 2020-04-27  Andaman and Nicobar Islands        2848.0  no value      33.0
1 2020-04-27               Andhra Pradesh       74551.0     73374     117.0
2 2020-04-27                          NaN           NaN       NaN       NaN
3 2020-04-27                        Assam        8117.0      7985      35.0
4 2020-04-27                   Chandigarh           NaN       777      40.0
5 2020-04-27                        Delhi       39911.0     34145    3108.0
6 2020-04-27                          Goa        1541.0       NaN       7.0
7 2020-04-27                      Gujarat       53575.0     50028    3547.0
8 2020-04-27                      Haryana       22993.0     20702     301.0
9 2020-04-27             Himachal Pradesh        5106.0      5022      40.0

In [13]:
df.dtypes

Date            datetime64[ns]
State                   object
TotalSamples           float64
Negative                object
Positive               float64
dtype: object

In [14]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp